@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Raleway", Helvetica, Inter, system-ui, Avenir, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #373b4c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

a {
  color: #f9f9f9;
  text-decoration: none;
}

html body {
  display: flex;
  margin: 0;
  width: 100%;
}

.content {
  margin-left: 0.5em;
  margin-top: 4.8em;
}

h1 {
  font-size: 2.8em;
}

button {
  font-family: "Raleway", Helvetica, Inter, system-ui, Avenir, Arial, sans-serif;
  align-self: center;
  padding: 5px 5px; /* Adjust padding for a modern look */
  background-color: #373b4c;
  color: #fff; /* Set text color to white */
  border: none; /* Remove border */
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer; /* Add pointer cursor on hover */
  transition: border-color 0.25s;
  font-size: 0.9em;
  font-weight: 700;
  border: 2px solid transparent;
  margin: 0.2em 0em;
}
button:hover {
  border-color: #a0d2eb;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Style for text inputs */
input {
  font-family: "Raleway", Helvetica, Inter, system-ui, Avenir, Arial, sans-serif;
  padding: 5px 0; /* Adjust padding for spacing */
  font-size: 16px; /* Adjust font size for readability */
  border: none; /* Remove the border */
  border-bottom: 2px solid #ccc; /* Add a bottom border */
  outline: none; /* Remove the default focus outline */
  background-color: transparent;
  color: white;
}
input:focus {
  border-bottom-color: #a0d2eb; /* Change the bottom border color on focus */
  box-shadow: 0 2px 0 #a0d2eb; /* Add a slight shadow on focus */
  background-color: transparent;
}
.filterTasks {
  margin-bottom: 1.5em;
}

.error {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fadeOut 1s ease;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  position: relative; /* Use relative positioning */
  margin-top: 20px; /* Adjust the top margin to create space below the title */
  font-weight: 800;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none; /* Hide the element when the animation is complete */
  }
}

.invofindHeading {
  transition: 0.25s;
  color: #a0d2eb;
  font-size: 40px;
  font-weight: 800;
}
.invofindHeading:hover {
  color: #a0d2eb;
  text-shadow: 0 0 5px #d0bdf4, 0 0 15px #d0bdf4, 0 0 30px #d0bdf4;
}

@keyframes slide-in {
  to {
    transform: translateX(100%); /* Move the gradient from left to right */
  }
}

.logOut {
  margin-right: 1.2em;
}

.addTask button {
  background-color: #a0d2eb;
  color: #373b4c;
  margin-bottom: 1em;
}

.allTasks {
  align-items: center;
  padding: 1.7rem;
  height: 50rem;
  overflow: auto;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #a0d2eb #ffffff; /* For Firefox */

  /* For WebKit-based browsers (Chrome, Safari) */
  &::-webkit-scrollbar {
    width: 8px; /* Adjust the width as needed */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #a0d2eb;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: #ffffff;
    border-radius: 6px;
    margin-right: 8px; /* Adjust the margin to move it to the right */
  }
}

.rendering {
  margin: 0rem 5rem;
}

.tab {
  display: flex;
  justify-content: space-between; /* Center horizontally */
  align-items: center; /* Center vertically */
  overflow: hidden;
  background-color: #282a33;
  border-radius: 10rem;
  margin-bottom: 1rem;
  width: 100%;
  font-size: 1.5rem;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  width: 33%;
  padding: 0.7rem;
  margin: 0;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #6c6f7e;
}

/* Create an active/current tablink class */
.tab button.active {
  background: linear-gradient(to bottom, #d0bdf4, #a0d2eb);
  color: #373b4c;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  background-color: #282a33;
  border-radius: 2rem;
}

/* Optional: Clear floats after the tabs */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

* {
  /* border: 1px solid red; */
  /* width: 100%; */
}
